@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <blockquote>
        ...trial of chance or trial of worth all games aspire to the condition of <strong>War</strong>
        <footer>
            <cite>Judge Holden, <em>Blood Meridian</em>, Cormac McCarthy (1985)</cite>
        </footer>
    </blockquote>
</p>
    <p>
    In the basic game there are two players and you use a standard 52 card pack. Cards rank as usual from high to low: **A K Q J T 9 8 7 6 5 4 3 2**. Suits are ignored in this game.
    Deal out all the cards, so that each player has 26. Players do not look at their cards, but keep them in a packet face down. The object of the game is to win all the cards.
    Both players now turn their top card face up and put them on the table. Whoever turned the higher card takes both cards and adds them (face down) to the bottom of their packet. Then both players turn up their next card and so on.
    </p>

    </p>
    If the turned up cards are equal there is a war. The tied cards stay on the table and both players play the next card of their pile face down and then another card face-up. Whoever has the higher of the new face-up cards wins the war and adds all six cards face-down to the bottom of their packet. If the new face-up cards are equal as well, the war continues: each player puts another card face-down and one face-up. The war goes on like this as long as the face-up cards continue to be equal. As soon as they are different the player of the higher card wins all the cards in the war.
    </p>

    <p>
    In this implementation, play continues until one of the players has no more cards. The other player is then declared the winner. In the highly
        unlikely event that both players run out of cards, the game is declared a draw.
    </p>

    <em>Source: </em><a href="https://www.pagat.com/war/war.html">Pagat</a>
